venv/
env/


__pycache__/
*.py[cod]


.env
.env.local


chroma_db/
chroma_db_practice/



*.pdf
*.docx


data/*
!data/.gitkeep

rag-frontend/node_modules/


rag-frontend/.next/
rag-frontend/out/
rag-frontend/build/

rag-frontend/.env
rag-frontend/.env*.local

.DS_Store
Thumbs.db